<h3>Reagent {{rg.reagent.id}} is {{rg.reagent.reagent_name}}<h3>
<table>
  <tr>
    <td>Index number:</td>
    <td>Reagent:</td>
    <td>Analyte:</td>
    <td>Fluorochrome:</td>
    <td>Clone:</td>
    <td>Isotype:</td>
    <td>Light chain:</td>
    <td>Volume per test:</td>
    <td>Volume per vial:</td>
    <td>Tests per vial:</td>
    <td>Concentration:</td>
    <td>Manufacturer:</td>
    <td>Order number:</td>
    <td>Control cells:</td>
  </tr>
  <tr>
    <td>{{rg.reagent_id}}</td>
    <td>{{rg.reagent}}</td>
    <td>{{rg.analyte}}</td>
    <td>{{rg.fluor}}</td>
    <td>{{rg.clone}}</td>
    <td>{{rg.isotype}}</td>
    <td>{{rg.light_chain}}</td>
    <td>{{rg.volume_per_test}}</td>
    <td>{{rg.volume_per_vial}}</td>
    <td>{{rg.tests_per_vial}}</td>
    <td>{{rg.concentration}}</td>
    <td>{{rg.manufacturer}}</td>
    <td>{{rg.item_number}}</td>
    <td>{{rg.control_cells}}</td>
  </tr>
</table>
